.container {
  display: flex;
  flex-direction: column;
  padding: 60px 80px;
}

.uploadBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
  border: 2px dashed #69ffc8;
  padding: 20px;
  width: 100%;
  max-width: 700px;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
}

.uploadBoxText {
  flex: 1;
  text-align: center;
  font-size: 16px;
  color: #666;
}

.uploadIcon {
  margin-left: auto;
}



.uploadBox.active {
  background-color: rgba(105, 255, 200, 0.1);
}

.uploadBox:hover {
  background-color: rgba(105, 255, 200, 0.2);
}

.hiddenInput {
  display: none;
}

.selectBox {
  width: 100%;
  max-width: max-content;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 16px;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

/* Efeito ao passar o mouse */
.selectBox:hover {
  border-color: #2d5576;
}

/* Efeito ao focar (quando o usuário clica no select) */
.selectBox:focus {
  outline: none;
  border-color: #2d5576;
  box-shadow: 0 0 5px rgba(45, 85, 118, 0.5);
}

/* Estilo para desativar opções */
.selectBox option:disabled {
  color: #aaa;
  font-style: italic;
}
